button{
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius:4px;
    padding: 8px 16px;
    margin: 4px 6px;
    cursor: pointer;
}

input[type=text]{
    border: 2px solid black;
    border-radius: 4px;
    width: 30%;
    padding:8px 16px;
}

body{
    text-align: center
}
.resultTable{
    display: inline-block;
    margin: auto;
}
